
:root {
    /* Fonts */
    --main-font: Roboto, sans-serif;
    /* Colors */
    --white: #FFF;
    --cornflower:#E7E9FC;
    --navyblue: #2E2F42;
    --cloud: #F4F4FD;
    --iris: #4D5AE5;
    --main-cl: #434455;
   
}
address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.team-list, .advantages-list,.doing-list,.header-nav, .header-address-list, .portfolio-filters-list,
 .portfolio-row1-list, .portfolio-row2-list, .portfolio-row3-list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.btn {
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    color: currentColor;
    cursor: pointer;
}

.header {
    border-bottom: 1px solid var(--cornflower);
    background: var(--white);
    

}
body {
    font-family: var(--main-font);
    background-color: var(--white);
    color: var(--main-cl); 
}


/* Header*/   
.nav-logo {
    color: var(--navyblue);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.nav-logo-web {
    color: var(--iris); 
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.header-nav {}

.header-nav-studio-link, .header-nav-portfolio-link, .header-nav-contacts-link{
    color: var(--navyblue);
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.header-nav-studio-link {}

.header-nav-portfolio-link {}

.header-nav-contacts-link {}

.header-address {}

.header-address-list {}

.header-address-email {}

.header-address-emailto,.header-address-telto{
    /* Body */
    color:var(--main-cl);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.header-address-tel {}




/*Footer*/
.footer {
    background: var(--navyblue);
}

.footer-text 
    {font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    color: var(--cloud); }


/**
  |============================
  | classes studio page
  |============================
*/



.hero {}

.hero-text {}

.hero-btn {}

.advantages {}

.advantages-text {}

.advantages-list {}

.advantages-list-strategy {}

.advantages-list-strategy-title {}

.advantages-list-strategy-text {}

.advantages-list-punctuality {}

.advantages-list-punctuality-title {}

.advantages-list-punctuality-text {}

.advantages-list-diligence {}

.advantages-list-diligence-title {}

.advantages-list-diligence-text {}

.advantages-list-tech {}

.advantages-list-tech-title {}

.advantages-list-tech-text {}

.doing {}

.doing-title {}

.doing-list {}

.doing-item1 {}

.doing-item1-image {}

.doing-item2 {}

.doing-item2-image {}

.doing-item3 {}

.doing-item3-image {}

.team {}

.team-title {}

.team-list {}

.team-list-item1 {}

.team-list-item1-image {}

.team-list-item1-title {}

.team-list-item1-text {}

.team-list-item2 {}

.team-list-item2-image {}

.team-list-item2-title {}

.team-list-item2-text {}

.team-list-item3 {}

.team-list-item3-image {}

.team-list-item3-title {}

.team-list-item3-text {}

.team-list-item4 {}

.team-list-item4-image {}

.team-list-item4-title {}

.team-list-item4-text {}



/**
  |============================
  | Classes portfolio page
  |============================
*/


.portfolio-filters {}

.portfolio-filters-title {}

.portfolio-filters-list-all {}

.portfolio-filters-list-all-btn {}

.portfolio-filters-list-web-btn {}

.portfolio-filters-list-app {}

.portfolio-filters-list-app-btn {}

.portfolio-filters-list-design {}

.portfolio-filters-list-design-btn {}

.portfolio-filters-list-marketing {}

.portfolio-filters-list-marketing-btn {}

.portfolio-row1 {}

.portfolio-row1-title {}

.portfolio-row1-list {}

.portfolio-row1-item1 {}

.portfolio-row1-item1-image {}

.portfolio-row1-item1-title {}

.portfolio-row1-item1-text {}

.portfolio-row1-item2 {}

.portfolio-row1-item2-image {}

.portfolio-row1-item2-title {}

.portfolio-row1-item2-text {}

.portfolio-row1-item3 {}

.portfolio-row1-item3-image {}

.portfolio-row1-item3-title {}

.portfolio-row1-item3-text {}

.portfolio-row2 {}

.portfolio-row2-title {}

.portfolio-row2-list {}

.portfolio-row2-item1 {}

.portfolio-row2-item1-image {}

.portfolio-row2-item1-title {}

.portfolio-row2-item1-text {}

.portfolio-row2-item2 {}

.portfolio-row2-item2-image {}

.portfolio-row2-item2-title {}

.portfolio-row2-item2-text {}

.portfolio-row2-item3 {}

.portfolio-row2-item3-image {}

.portfolio-row2-item3-title {}

.portfolio-row2-item3-text {}

.portfolio-row3-tilte {}

.portfolio-row3-list {}

.portfolio-row3-item1 {}

.portfolio-row3-item1-image {}

.portfolio-row3-item1-title {}

.portfolio-row3-item1-text {}

.portfolio-row3-item2 {}

.portfolio-row3-item2-image {}

.portfolio-row3-item2-title {}

.portfolio-row3-item2-text {}

.portfolio-row3-item3 {}

.portfolio-row3-item3-image {}

.portfolio-row3-item3-title {}

.portfolio-row3-item3-text {}






